---
import { Image } from "astro:assets";
---

<section class="max-lg:p-8">
  <h2 class="text-gradient text-3xl font-medium text-center">
    Mon expertise
  </h2>

  <p class="text-white/50 text-center mt-4">
    Je propose mes services dans quelques domaines spécifiques...
  </p>

  <div class="grid lg:grid-cols-2 max-w-5xl mx-auto gap-8 mt-16">
    <article class="bg-neutral-900 p-8 border border-white/10 rounded-3xl opacity-50 hover:opacity-100 transition-opacity duration-500">
      <Image src="/gifs/website.gif" alt="" width={128} height={128} class="h-80 w-auto mx-auto" />

      <h3 class="text-white/70 my-8 text-2xl">
        Conception interface utilisateur et développement web
      </h3>

      <p class="text-white/50 text-pretty">
        Mon objectif est de contribuer à un internet plus vert, en collaborant avec des équipes et des entreprises partageant cette vision pour créer des plateformes efficaces, éthiques et respectueuses de l’environnement.
      </p>
    </article>

    <article class="bg-neutral-900 p-8 rounded-3xl border border-white/10 opacity-50 hover:opacity-100 transition-opacity duration-500">
      <Image src="/gifs/language.gif" alt="" width={128} height={128} class="h-80 w-auto mx-auto" />

      <h3 class="text-white/70 my-8 text-2xl">
        Développement de DSLs et de langages de programmation
      </h3>

      <p class="text-white/50 text-pretty">
        Fort de plusieurs années d’expérience dans le domaine du développement de langages de programmation, je suis avant tout un passionné qui voit cette discipline comme un véritable hobby. Mon intérêt pour les concepts fondamentaux des langages informatiques et leur impact sur la manière dont les développeurs interagissent avec la machine m’a conduit à concevoir et expérimenter mes propres langages et outils de compilation.
      </p>
    </article>
  </div>
</section>
